h2 {
  margin: 0;
  font: bold 18px helvetica, Arial, sans-serif; }

h3 {
  font: 22px helvetica, Arial, sans-serif;
  color: #41728e; }

.clear {
  clear: both; }

.rows div {
  font: 10px helvetica, Arial, sans-serif;
  text-align: center; }

.buttonclicked {
  border: 1px solid #aaaaaa;
  border-bottom-color: #cccccc;
  border-top-color: #999999;
  -webkit-box-shadow: inset 0 1px 2px #aaaaaa;
  -moz-box-shadow: inset 0 1px 2px #aaaaaa;
  box-shadow: inset 0 1px 2px #aaaaaa;
  background: -webkit-gradient(linear, center top, center bottom, from(#e6e6e6), to(gainsboro));
  background: -webkit-linear-gradient(top, #e6e6e6, gainsboro);
  background: -moz-linear-gradient(top, #e6e6e6, gainsboro);
  background: -ms-linear-gradient(top, #e6e6e6, gainsboro);
  background: -o-linear-gradient(top, #e6e6e6, gainsboro);
  background: linear-gradient(top, #e6e6e6, gainsboro); }

html, body {
  background: #dadde0;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

#background {
  width: 960px;
  margin: 0 auto; }
  #background div {
    background: white;
    border-top: 7px #689ebf solid;
    border-left: 1px #a4a4a4 solid;
    border-right: 1px #a4a4a4 solid;
    box-shadow: 0 2px 2px 2px #a4a4a4;
    height: 100%;
    width: 960px;
    position: fixed; }
    #background div span {
      display: block;
      width: 122px;
      height: 100%;
      border-right: 2px solid grey; }

#page {
  position: relative;
  width: 960px;
  margin: 0 auto;
  background: white;
  border-top: 7px #689ebf solid; }

#sectionA, #sectionB, #sectionC, #sectionD, #sectionE {
  width: 835px;
  float: right; }

.clear {
  clear: both; }

#sectionA header {
  height: 37px;
  width: 100%;
  background: #d5e9f3;
  box-shadow: 0 2px 2px #d5e9f3;
  font-size: 12px; }
  #sectionA header a {
    display: block; }
  #sectionA header #reload {
    height: 16px;
    width: 16px;
    background: url(./images/reload.svg) no-repeat;
    background-size: contain;
    float: left;
    margin: 9px 5px 11px 11px; }
  #sectionA header .pause {
    height: 16px;
    width: 16px;
    background: url(./images/pause.svg) no-repeat;
    background-size: contain;
    float: left;
    margin: 9px 5px 11px 11px; }
  #sectionA header .play {
    height: 16px;
    width: 16px;
    background: url(./images/play.svg) no-repeat;
    background-size: contain;
    float: left;
    margin: 9px 5px 11px 11px; }
  #sectionA header #date {
    float: right;
    width: 142px;
    height: 39px;
    border-left: 1px white solid;
    line-height: 37px;
    text-align: center; }
  #sectionA header #options {
    float: right;
    width: 68px;
    height: 39px;
    border-left: 1px white solid;
    line-height: 37px;
    text-align: center; }
  #sectionA header #settings {
    float: right;
    width: 94px;
    height: 39px;
    border-left: 1px white solid;
    line-height: 37px;
    text-align: center; }

#sectionA .text {
  color: #8f8f8f;
  font: 10px helvetica, Arial, sans-serif; }
#sectionA .col0 {
  margin: 24px 36px auto 32px;
  width: 75px;
  float: left; }
  #sectionA .col0 .number {
    font: 78px helvetica, Arial, sans-serif;
    text-align: center; }

#sectionATable {
  margin: 19px 0;
  float: left;
  width: 664px; }
  #sectionATable .number {
    font: 28px helvetica, Arial, sans-serif; }
  #sectionATable .row1 {
    border-bottom: 1px solid #a4a4a4; }
  #sectionATable .col1 {
    width: 97px;
    padding-right: 30px;
    border-right: 1px solid #a4a4a4;
    float: left;
    height: 54px;
    text-align: center; }
  #sectionATable .col2 {
    width: 169px;
    border-right: 1px solid #a4a4a4;
    float: left;
    height: 54px;
    text-align: center; }
  #sectionATable .col3 {
    width: 180px;
    border-right: 1px solid #a4a4a4;
    float: left;
    height: 54px;
    text-align: center; }
  #sectionATable .col4 {
    width: 183px;
    float: left;
    height: 54px;
    text-align: center; }
  #sectionATable .row2 .text {
    padding-top: 12px; }

#sectionB {
  height: 55px;
  background: #c32232;
  color: white;
  position: relative;
  font: 14px helvetica, Arial, sans-serif; }
  #sectionB #alertLogo {
    float: left;
    margin: 16px 16px 16px 8px;
    height: 21px;
    width: 21px;
    background: url(./images/alertLogo.svg) no-repeat;
    background-size: contain; }
  #sectionB header {
    float: left;
    font: bold 16px helvetica, Arial, sans-serif;
    line-height: 55px;
    margin-right: 220px; }
  #sectionB label {
    float: left;
    line-height: 55px;
    margin-right: 13px; }
  #sectionB #alertSettings1 {
    margin: 12px 8px auto auto;
    height: 31px;
    width: 146px;
    float: left; }
  #sectionB #alertSettings2 {
    margin: 12px 8px auto auto;
    height: 31px;
    width: 146px;
    float: left; }
  #sectionB #onOff {
    margin: 16px auto auto auto;
    width: 67px;
    height: 31px;
    float: left;
    background: url(./images/toggle_on.png) no-repeat; }
  #sectionB .close {
    position: absolute;
    height: 10px;
    width: 10px;
    background: url(./images/closewht.svg) no-repeat;
    background-size: contain;
    top: 10px;
    right: 12px; }
  #sectionB .open {
    position: absolute;
    height: 10px;
    width: 10px;
    background: url(./images/openwht.svg) no-repeat;
    background-size: contain;
    top: 10px;
    right: 12px; }

#sectionC {
  position: relative;
  border-bottom: 1px solid #a4a4a4; }
  #sectionC header {
    margin: 20px auto 17px 28px;
    float: left;
    width: 100%; }
  #sectionC .col0 {
    margin: 0 19px 16px 30px;
    width: 98px;
    float: left; }
    #sectionC .col0 nav {
      border-right: 1px #a4a4a4 solid; }
    #sectionC .col0 div.button {
      margin-top: 5px;
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;
      line-height: normal;
      font-size: 11px;
      color: black;
      -webkit-appearance: none;
      border: 1px solid #dddddd;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomright: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      -webkit-box-shadow: 0 1px 1px white;
      -moz-box-shadow: 0 1px 1px white;
      box-shadow: 0 1px 1px white;
      text-shadow: 0 1px 1px white;
      color: #111111;
      border-color: #999999;
      background: #dbdbdb;
      background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
      background: -webkit-linear-gradient(top, white, #e0e0e0);
      background: -moz-linear-gradient(top, white, #e0e0e0);
      background: -ms-linear-gradient(top, white, #e0e0e0);
      background: -o-linear-gradient(top, white, #e0e0e0);
      background: linear-gradient(top, white, #e0e0e0);
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      height: 27px;
      width: 73px;
      text-align: center;
      line-height: 27px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      position: relative; }
      #sectionC .col0 div.button:first-child {
        margin-top: 0; }
  #sectionC .col1, #sectionC .col2, #sectionC .col3, #sectionC .col4 {
    width: 169px;
    float: left;
    padding: 37px 0;
    text-align: center;
    font: normal 12px helvetica, Arial, sans-serif; }
    #sectionC .col1 .number, #sectionC .col2 .number, #sectionC .col3 .number, #sectionC .col4 .number {
      font: bold 22px helvetica, Arial, sans-serif;
      margin-bottom: 38px;
      padding-left: 10px; }
    #sectionC .col1 .pct, #sectionC .col2 .pct, #sectionC .col3 .pct, #sectionC .col4 .pct {
      font: normal 12px/18px helvetica, Arial, sans-serif;
      vertical-align: top; }
  #sectionC #upperRight {
    width: 320px;
    height: 31px;
    position: absolute;
    top: 0;
    right: 0; }
    #sectionC #upperRight button {
      float: left;
      margin: 0; }
      #sectionC #upperRight button:nth-child(1) {
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
        line-height: normal;
        font-size: 11px;
        color: black;
        -webkit-appearance: none;
        border: 1px solid #dddddd;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 3px;
        -webkit-box-shadow: 0 1px 1px white;
        -moz-box-shadow: 0 1px 1px white;
        box-shadow: 0 1px 1px white;
        text-shadow: 0 1px 1px white;
        color: #111111;
        border-color: #999999;
        background: #dbdbdb;
        background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
        background: -webkit-linear-gradient(top, white, #e0e0e0);
        background: -moz-linear-gradient(top, white, #e0e0e0);
        background: -ms-linear-gradient(top, white, #e0e0e0);
        background: -o-linear-gradient(top, white, #e0e0e0);
        background: linear-gradient(top, white, #e0e0e0);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        height: 31px;
        width: 36px;
        text-align: center;
        line-height: 31px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative; }
      #sectionC #upperRight button:nth-child(2) {
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
        line-height: normal;
        font-size: 11px;
        color: black;
        -webkit-appearance: none;
        border: 1px solid #dddddd;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-box-shadow: 0 1px 1px white;
        -moz-box-shadow: 0 1px 1px white;
        box-shadow: 0 1px 1px white;
        text-shadow: 0 1px 1px white;
        color: #111111;
        border-color: #999999;
        background: #dbdbdb;
        background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
        background: -webkit-linear-gradient(top, white, #e0e0e0);
        background: -moz-linear-gradient(top, white, #e0e0e0);
        background: -ms-linear-gradient(top, white, #e0e0e0);
        background: -o-linear-gradient(top, white, #e0e0e0);
        background: linear-gradient(top, white, #e0e0e0);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        height: 31px;
        width: 43px;
        text-align: center;
        line-height: 31px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative; }
      #sectionC #upperRight button:nth-child(3) {
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
        line-height: normal;
        font-size: 11px;
        color: black;
        -webkit-appearance: none;
        border: 1px solid #dddddd;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-box-shadow: 0 1px 1px white;
        -moz-box-shadow: 0 1px 1px white;
        box-shadow: 0 1px 1px white;
        text-shadow: 0 1px 1px white;
        color: #111111;
        border-color: #999999;
        background: #dbdbdb;
        background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
        background: -webkit-linear-gradient(top, white, #e0e0e0);
        background: -moz-linear-gradient(top, white, #e0e0e0);
        background: -ms-linear-gradient(top, white, #e0e0e0);
        background: -o-linear-gradient(top, white, #e0e0e0);
        background: linear-gradient(top, white, #e0e0e0);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        height: 31px;
        width: 38px;
        text-align: center;
        line-height: 31px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative; }
      #sectionC #upperRight button:nth-child(4) {
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
        line-height: normal;
        font-size: 11px;
        color: black;
        -webkit-appearance: none;
        border: 1px solid #dddddd;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-box-shadow: 0 1px 1px white;
        -moz-box-shadow: 0 1px 1px white;
        box-shadow: 0 1px 1px white;
        text-shadow: 0 1px 1px white;
        color: #111111;
        border-color: #999999;
        background: #dbdbdb;
        background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
        background: -webkit-linear-gradient(top, white, #e0e0e0);
        background: -moz-linear-gradient(top, white, #e0e0e0);
        background: -ms-linear-gradient(top, white, #e0e0e0);
        background: -o-linear-gradient(top, white, #e0e0e0);
        background: linear-gradient(top, white, #e0e0e0);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        height: 31px;
        width: 34px;
        text-align: center;
        line-height: 31px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative; }
      #sectionC #upperRight button:nth-child(5) {
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
        line-height: normal;
        font-size: 11px;
        color: black;
        -webkit-appearance: none;
        border: 1px solid #dddddd;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-box-shadow: 0 1px 1px white;
        -moz-box-shadow: 0 1px 1px white;
        box-shadow: 0 1px 1px white;
        text-shadow: 0 1px 1px white;
        color: #111111;
        border-color: #999999;
        background: #dbdbdb;
        background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
        background: -webkit-linear-gradient(top, white, #e0e0e0);
        background: -moz-linear-gradient(top, white, #e0e0e0);
        background: -ms-linear-gradient(top, white, #e0e0e0);
        background: -o-linear-gradient(top, white, #e0e0e0);
        background: linear-gradient(top, white, #e0e0e0);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        height: 31px;
        width: 47px;
        text-align: center;
        line-height: 31px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative; }
      #sectionC #upperRight button:nth-child(6) {
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
        line-height: normal;
        font-size: 11px;
        color: black;
        -webkit-appearance: none;
        border: 1px solid #dddddd;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-box-shadow: 0 1px 1px white;
        -moz-box-shadow: 0 1px 1px white;
        box-shadow: 0 1px 1px white;
        text-shadow: 0 1px 1px white;
        color: #111111;
        border-color: #999999;
        background: #dbdbdb;
        background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
        background: -webkit-linear-gradient(top, white, #e0e0e0);
        background: -moz-linear-gradient(top, white, #e0e0e0);
        background: -ms-linear-gradient(top, white, #e0e0e0);
        background: -o-linear-gradient(top, white, #e0e0e0);
        background: linear-gradient(top, white, #e0e0e0);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        height: 31px;
        width: 42px;
        text-align: center;
        line-height: 31px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative; }
      #sectionC #upperRight button:nth-child(7) {
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
        line-height: normal;
        font-size: 11px;
        color: black;
        -webkit-appearance: none;
        border: 1px solid #dddddd;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 3px;
        -moz-border-radius-bottomleft: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 0;
        -webkit-box-shadow: 0 1px 1px white;
        -moz-box-shadow: 0 1px 1px white;
        box-shadow: 0 1px 1px white;
        text-shadow: 0 1px 1px white;
        color: #111111;
        border-color: #999999;
        background: #dbdbdb;
        background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
        background: -webkit-linear-gradient(top, white, #e0e0e0);
        background: -moz-linear-gradient(top, white, #e0e0e0);
        background: -ms-linear-gradient(top, white, #e0e0e0);
        background: -o-linear-gradient(top, white, #e0e0e0);
        background: linear-gradient(top, white, #e0e0e0);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
        height: 31px;
        width: 44px;
        text-align: center;
        line-height: 31px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative; }
    #sectionC #upperRight .close {
      float: left;
      margin: 10px auto auto 15px;
      display: block;
      height: 10px;
      width: 10px;
      background: url(./images/closeblk.svg) no-repeat;
      background-size: contain; }

#sectionD {
  position: relative;
  border-bottom: 1px solid #a4a4a4;
  padding-bottom: 65px; }
  #sectionD header {
    margin: 20px auto 17px 28px;
    float: left; }
  #sectionD form.pause {
    position: absolute;
    top: 20px;
    left: 140px; }
    #sectionD form.pause input {
      margin: 5px 8px 0 17px;
      height: 15px;
      width: 15px;
      background-image: url(./images/minipause.svg), url(./images/gradient.svg);
      background-position: center center, -5px -5px;
      background-repeat: no-repeat, repeat-x;
      background-size: 90%, auto 150%;
      border-radius: 4px;
      border: 2px outset rgba(0, 0, 0, 0);
      float: left; }
    #sectionD form.pause label {
      font-size: 11px; }
  #sectionD #callsWaitingTable {
    float: left;
    width: 666px;
    margin: 20px auto auto 19px; }
    #sectionD #callsWaitingTable .col1, #sectionD #callsWaitingTable .col2, #sectionD #callsWaitingTable .col3, #sectionD #callsWaitingTable .col4, #sectionD #callsWaitingTable .col5 {
      width: 20%;
      float: left;
      margin: 0; }
    #sectionD #callsWaitingTable button.col1 {
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;
      line-height: normal;
      font-size: 11px;
      color: black;
      -webkit-appearance: none;
      border: 1px solid #dddddd;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      -webkit-box-shadow: 0 1px 1px white;
      -moz-box-shadow: 0 1px 1px white;
      box-shadow: 0 1px 1px white;
      text-shadow: 0 1px 1px white;
      color: #111111;
      border-color: #999999;
      background: #dbdbdb;
      background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
      background: -webkit-linear-gradient(top, white, #e0e0e0);
      background: -moz-linear-gradient(top, white, #e0e0e0);
      background: -ms-linear-gradient(top, white, #e0e0e0);
      background: -o-linear-gradient(top, white, #e0e0e0);
      background: linear-gradient(top, white, #e0e0e0);
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      height: 28px;
      width: 20%;
      text-align: center;
      line-height: 28px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      position: relative; }
    #sectionD #callsWaitingTable button.col2, #sectionD #callsWaitingTable button.col3, #sectionD #callsWaitingTable button.col4 {
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;
      line-height: normal;
      font-size: 11px;
      color: black;
      -webkit-appearance: none;
      border: 1px solid #dddddd;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      -webkit-box-shadow: 0 1px 1px white;
      -moz-box-shadow: 0 1px 1px white;
      box-shadow: 0 1px 1px white;
      text-shadow: 0 1px 1px white;
      color: #111111;
      border-color: #999999;
      background: #dbdbdb;
      background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
      background: -webkit-linear-gradient(top, white, #e0e0e0);
      background: -moz-linear-gradient(top, white, #e0e0e0);
      background: -ms-linear-gradient(top, white, #e0e0e0);
      background: -o-linear-gradient(top, white, #e0e0e0);
      background: linear-gradient(top, white, #e0e0e0);
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      height: 28px;
      width: 20%;
      text-align: center;
      line-height: 28px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      position: relative; }
    #sectionD #callsWaitingTable button.col5 {
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;
      line-height: normal;
      font-size: 11px;
      color: black;
      -webkit-appearance: none;
      border: 1px solid #dddddd;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      -webkit-box-shadow: 0 1px 1px white;
      -moz-box-shadow: 0 1px 1px white;
      box-shadow: 0 1px 1px white;
      text-shadow: 0 1px 1px white;
      color: #111111;
      border-color: #999999;
      background: #dbdbdb;
      background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
      background: -webkit-linear-gradient(top, white, #e0e0e0);
      background: -moz-linear-gradient(top, white, #e0e0e0);
      background: -ms-linear-gradient(top, white, #e0e0e0);
      background: -o-linear-gradient(top, white, #e0e0e0);
      background: linear-gradient(top, white, #e0e0e0);
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      height: 28px;
      width: 20%;
      text-align: center;
      line-height: 28px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      position: relative; }
    #sectionD #callsWaitingTable div.col1, #sectionD #callsWaitingTable div.col2, #sectionD #callsWaitingTable div.col3, #sectionD #callsWaitingTable div.col4, #sectionD #callsWaitingTable div.col5 {
      height: 43px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      border: 1px solid #a4a4a4; }
    #sectionD #callsWaitingTable div.rows {
      width: 666px;
      max-height: 215px;
      overflow: auto;
      border-bottom: 1px solid #a4a4a4; }
  #sectionD nav {
    font-size: 11px;
    width: 86px;
    float: right;
    margin-top: 24px;
    right: 0; }
    #sectionD nav .options {
      border-top: 1px solid #a4a4a4; }

#sectionE {
  position: relative;
  padding-bottom: 65px; }
  #sectionE header {
    margin: 20px auto 17px 28px;
    float: left; }
  #sectionE #activeResourcesTable {
    float: left;
    width: 722px;
    margin: auto auto auto 19px; }
    #sectionE #activeResourcesTable .col1, #sectionE #activeResourcesTable .col2, #sectionE #activeResourcesTable .col3, #sectionE #activeResourcesTable .col4, #sectionE #activeResourcesTable .col5, #sectionE #activeResourcesTable .col6, #sectionE #activeResourcesTable .col7 {
      width: 95.142857px;
      float: left;
      margin: 0; }
    #sectionE #activeResourcesTable button.col1 {
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;
      line-height: normal;
      font-size: 11px;
      color: black;
      -webkit-appearance: none;
      border: 1px solid #dddddd;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      -webkit-box-shadow: 0 1px 1px white;
      -moz-box-shadow: 0 1px 1px white;
      box-shadow: 0 1px 1px white;
      text-shadow: 0 1px 1px white;
      color: #111111;
      border-color: #999999;
      background: #dbdbdb;
      background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
      background: -webkit-linear-gradient(top, white, #e0e0e0);
      background: -moz-linear-gradient(top, white, #e0e0e0);
      background: -ms-linear-gradient(top, white, #e0e0e0);
      background: -o-linear-gradient(top, white, #e0e0e0);
      background: linear-gradient(top, white, #e0e0e0);
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      height: 28px;
      width: 95.142857px;
      text-align: center;
      line-height: 28px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      position: relative; }
    #sectionE #activeResourcesTable button.col2, #sectionE #activeResourcesTable button.col3, #sectionE #activeResourcesTable button.col4, #sectionE #activeResourcesTable button.col5, #sectionE #activeResourcesTable button.col6 {
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;
      line-height: normal;
      font-size: 11px;
      color: black;
      -webkit-appearance: none;
      border: 1px solid #dddddd;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      -webkit-box-shadow: 0 1px 1px white;
      -moz-box-shadow: 0 1px 1px white;
      box-shadow: 0 1px 1px white;
      text-shadow: 0 1px 1px white;
      color: #111111;
      border-color: #999999;
      background: #dbdbdb;
      background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
      background: -webkit-linear-gradient(top, white, #e0e0e0);
      background: -moz-linear-gradient(top, white, #e0e0e0);
      background: -ms-linear-gradient(top, white, #e0e0e0);
      background: -o-linear-gradient(top, white, #e0e0e0);
      background: linear-gradient(top, white, #e0e0e0);
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      height: 28px;
      width: 95.142857px;
      text-align: center;
      line-height: 28px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      position: relative; }
    #sectionE #activeResourcesTable button.col7 {
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;
      line-height: normal;
      font-size: 11px;
      color: black;
      -webkit-appearance: none;
      border: 1px solid #dddddd;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      -webkit-box-shadow: 0 1px 1px white;
      -moz-box-shadow: 0 1px 1px white;
      box-shadow: 0 1px 1px white;
      text-shadow: 0 1px 1px white;
      color: #111111;
      border-color: #999999;
      background: #dbdbdb;
      background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
      background: -webkit-linear-gradient(top, white, #e0e0e0);
      background: -moz-linear-gradient(top, white, #e0e0e0);
      background: -ms-linear-gradient(top, white, #e0e0e0);
      background: -o-linear-gradient(top, white, #e0e0e0);
      background: linear-gradient(top, white, #e0e0e0);
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
      height: 28px;
      width: 95.142857px;
      text-align: center;
      line-height: 28px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      position: relative; }
    #sectionE #activeResourcesTable div.col1, #sectionE #activeResourcesTable div.col2, #sectionE #activeResourcesTable div.col3, #sectionE #activeResourcesTable div.col4, #sectionE #activeResourcesTable div.col5, #sectionE #activeResourcesTable div.col6, #sectionE #activeResourcesTable div.col7 {
      height: 43px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      text-align: center;
      padding: 7px 5px;
      border: 1px solid #a4a4a4; }
    #sectionE #activeResourcesTable div.col8 {
      margin: 0;
      float: left;
      height: 43px;
      width: 50px;
      padding-left: 5px; }
    #sectionE #activeResourcesTable #listen, #sectionE #activeResourcesTable #speak, #sectionE #activeResourcesTable #shout {
      display: block;
      float: left;
      height: 19px;
      margin-top: 9px; }
    #sectionE #activeResourcesTable #listen {
      width: 17px;
      background: url(./images/micro.png) 0px center no-repeat; }
    #sectionE #activeResourcesTable #speak {
      width: 17px;
      background: url(./images/micro.png) -17px center no-repeat; }
    #sectionE #activeResourcesTable #shout {
      width: 16px;
      background: url(./images/micro.png) -36px center no-repeat; }
  #sectionE nav {
    font-size: 11px;
    width: 86px;
    float: right;
    margin-top: 24px;
    margin-bottom: 24px;
    right: 0; }
    #sectionE nav .options {
      border-top: 1px solid #a4a4a4; }

.thing input[type="checkbox"] {
  background: url(./images/radio-uncheck.png);
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio; }
.thing:checked {
  background: url(./images/radio-check.png);
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio; }

#sectionF {
  position: absolute;
  top: 0;
  left: 0;
  right: 835px;
  bottom: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-bottom: 65px;
  border-right: 2px solid grey; }
  #sectionF #logo {
    height: 57px;
    background: url(./images/logo.png);
    border-top: 1px solid #cccccc;
    border-right: 1px solid #a4a4a4;
    border-bottom: 1px solid #a4a4a4;
    border-left: 1px solid #cccccc; }
  #sectionF .sides {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    line-height: normal;
    font-size: 11px;
    color: black;
    -webkit-appearance: none;
    border: 1px solid #dddddd;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0 1px 1px white;
    -moz-box-shadow: 0 1px 1px white;
    box-shadow: 0 1px 1px white;
    text-shadow: 0 1px 1px white;
    color: #111111;
    border-color: #999999;
    background: #dbdbdb;
    background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
    background: -webkit-linear-gradient(top, white, #e0e0e0);
    background: -moz-linear-gradient(top, white, #e0e0e0);
    background: -ms-linear-gradient(top, white, #e0e0e0);
    background: -o-linear-gradient(top, white, #e0e0e0);
    background: linear-gradient(top, white, #e0e0e0);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
    height: auto;
    width: 100%;
    text-align: center;
    line-height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    position: relative;
    font: 500 12px helvetica, Arial, sans-serif;
    color: #8f8f8f;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 6px; }
    #sectionF .sides header {
      margin: 22px 0 6px 0; }
    #sectionF .sides h2, #sectionF .sides h3, #sectionF .sides h4 {
      margin: 0; }
      #sectionF .sides h2:last-child, #sectionF .sides h3:last-child, #sectionF .sides h4:last-child {
        margin: 0 0 21px 0; }
    #sectionF .sides h2 {
      color: #5ebf1e;
      font-size: 25px;
      margin-top: 20px;
      margin-bottom: 22px; }
    #sectionF .sides h2 .pct {
      font: 700 12px/20px helvetica, Arial, sans-serif;
      line-height: 20px;
      vertical-align: top; }
    #sectionF .sides h3 {
      margin-top: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 113px; }
    #sectionF .sides h4 {
      font: normal 12px helvetica, Arial, sans-serif; }
    #sectionF .sides h4#dropped {
      color: #c32232; }
    #sectionF .sides h4#answered {
      color: #5ebf1e; }

.sort {
  display: block;
  height: 14px;
  width: 9px;
  position: absolute;
  top: 3px;
  left: 5px;
  background: url(./images/arrows.svg) no-repeat;
  background-size: contain;
  cursor: pointer; }

a.close {
  display: block;
  height: 9px;
  width: 9px;
  position: absolute;
  top: 4px;
  right: 5px;
  background: url(./images/closeblk.svg) no-repeat;
  background-size: contain; }

a.open {
  display: block;
  height: 9px;
  width: 9px;
  position: absolute;
  top: 4px;
  right: 5px;
  background: url(./images/openblk.svg) no-repeat;
  background-size: contain; }

section > a.close, section > a.open {
  top: 13px;
  right: 13px; }

.closable {
  width: 100%; }
