/* line 21, style.sass */
h2 {
  margin: 0;
  font: bold 18px helvetica, Arial, sans-serif;
}

/* line 24, style.sass */
h3 {
  font: 22px helvetica, Arial, sans-serif;
  color: #41728e;
}

/* line 27, style.sass */
.clear {
  clear: both;
}

/* line 29, style.sass */
.rows div {
  font: 10px helvetica, Arial, sans-serif;
  text-align: center;
}

/* line 36, style.sass */
.darkBlue {
  background: #689ec0;
}

/* line 89, style.sass */
.buttonclicked {
  border: 1px solid #aaaaaa;
  border-bottom-color: #cccccc;
  border-top-color: #999999;
  -webkit-box-shadow: inset 0 1px 2px #aaaaaa;
  -moz-box-shadow: inset 0 1px 2px #aaaaaa;
  box-shadow: inset 0 1px 2px #aaaaaa;
  background: -webkit-gradient(linear, center top, center bottom, from(#e6e6e6), to(gainsboro));
  background: -webkit-linear-gradient(top, #e6e6e6, gainsboro);
  background: -moz-linear-gradient(top, #e6e6e6, gainsboro);
  background: -ms-linear-gradient(top, #e6e6e6, gainsboro);
  background: -o-linear-gradient(top, #e6e6e6, gainsboro);
  background: linear-gradient(top, #e6e6e6, #dcdcdc);
}

/* line 105, style.sass */
html, body {
  background: #dadde0;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* line 111, style.sass */
#background {
  width: 1200px;
  margin: 0 auto;
}
/* line 114, style.sass */
#background div {
  background: white;
  border-top: 7px #689ebf solid;
  border-left: 1px #a4a4a4 solid;
  border-right: 1px #a4a4a4 solid;
  box-shadow: 0 2px 2px 2px #a4a4a4;
  height: 100%;
  width: 1200px;
  position: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 124, style.sass */
#background div span {
  display: block;
  width: 122px;
  height: 100%;
  border-right: 2px solid grey;
}

/* line 130, style.sass */
#page {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background: white;
  border-top: 7px #689ebf solid;
}

/* line 139, style.sass */
#sectionA, #sectionB, #sectionC, #sectionD, #sectionE {
  width: 1075px;
  float: right;
}

/* line 144, style.sass */
.clear {
  clear: both;
}

/* line 150, style.sass */
#sectionA header {
  height: 37px;
  width: 100%;
  background: #d5e9f3;
  box-shadow: 0 2px 2px #d5e9f3;
  font-size: 12px;
}
/* line 156, style.sass */
#sectionA header a {
  display: block;
}
/* line 158, style.sass */
#sectionA header #reload {
  height: 16px;
  width: 16px;
  background: url(./images/reload.svg) no-repeat;
  background-size: contain;
  float: left;
  margin: 9px 5px 11px 11px;
}
/* line 165, style.sass */
#sectionA header .pause {
  height: 16px;
  width: 16px;
  background: url(./images/pause.svg) no-repeat;
  background-size: contain;
  float: left;
  margin: 9px 5px 11px 11px;
}
/* line 172, style.sass */
#sectionA header .play {
  height: 16px;
  width: 16px;
  background: url(./images/play.svg) no-repeat;
  background-size: contain;
  float: left;
  margin: 9px 5px 11px 11px;
}
/* line 179, style.sass */
#sectionA header .header {
  float: right;
  height: 39px;
  border-left: 1px white solid;
  line-height: 37px;
  text-align: center;
}
/* line 185, style.sass */
#sectionA header a.header {
  cursor: pointer;
}
/* line 187, style.sass */
#sectionA header #date {
  width: 142px;
}
/* line 189, style.sass */
#sectionA header #options {
  width: 68px;
}
/* line 191, style.sass */
#sectionA header #settings {
  width: 94px;
}
/* line 193, style.sass */
#sectionA header #webphone {
  width: 83px;
}

/* line 196, style.sass */
#sectionA {
  position: relative;
}
/* line 198, style.sass */
#sectionA .text {
  color: #8f8f8f;
  font: 10px helvetica, Arial, sans-serif;
}
/* line 201, style.sass */
#sectionA .col0 {
  margin: 24px 36px auto 32px;
  width: 75px;
  float: left;
}
/* line 205, style.sass */
#sectionA .col0 .number {
  font: 78px helvetica, Arial, sans-serif;
  text-align: center;
}
/* line 208, style.sass */
#sectionA #optionsPopup {
  display: none;
  position: absolute;
  width: 100px;
  height: 300px;
  top: 39px;
  left: 848px;
  background: #d5e9f3;
  box-shadow: 0 0 10px #dadde0;
  z-index: 40;
}
/* line 218, style.sass */
#sectionA #optionsPopup a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  font: bold 11px helvetica, Arial, sans-serif;
  line-height: 2.2em;
}

/* line 227, style.sass */
#sectionATable {
  margin: 19px 0;
  float: left;
  width: 664px;
}
/* line 232, style.sass */
#sectionATable .number {
  font: 28px helvetica, Arial, sans-serif;
}
/* line 234, style.sass */
#sectionATable .row1 {
  border-bottom: 1px solid #a4a4a4;
}
/* line 236, style.sass */
#sectionATable .col1 {
  width: 97px;
  padding-right: 30px;
  border-right: 1px solid #a4a4a4;
  float: left;
  height: 54px;
  text-align: center;
}
/* line 243, style.sass */
#sectionATable .col2 {
  width: 169px;
  border-right: 1px solid #a4a4a4;
  float: left;
  height: 54px;
  text-align: center;
}
/* line 249, style.sass */
#sectionATable .col3 {
  width: 180px;
  border-right: 1px solid #a4a4a4;
  float: left;
  height: 54px;
  text-align: center;
}
/* line 255, style.sass */
#sectionATable .col4 {
  width: 183px;
  float: left;
  height: 54px;
  text-align: center;
}
/* line 261, style.sass */
#sectionATable .row2 .text {
  padding-top: 12px;
}

/* line 264, style.sass */
#sectionB {
  background: #c32232;
  color: white;
  position: relative;
  font: 14px helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 273, style.sass */
#sectionB #alertLogo {
  position: absolute;
  top: 16px;
  left: 8px;
  height: 21px;
  width: 21px;
  background: url(./images/alertLogo.svg) no-repeat;
  background-size: contain;
}
/* line 281, style.sass */
#sectionB .closable {
  float: left;
  height: 55px;
  width: 20px;
}
/* line 285, style.sass */
#sectionB header {
  float: left;
  font: bold 16px helvetica, Arial, sans-serif;
  line-height: 1em;
  margin: 20px auto 8px 28px;
}
/* line 290, style.sass */
#sectionB label {
  position: absolute;
  line-height: 55px;
  margin-right: 13px;
  left: 455px;
}
/* line 295, style.sass */
#sectionB #alertSettings1 {
  font-size: 11px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFCCCCCC');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(#ffffff, #e0e0e0);
  background: -moz-linear-gradient(#ffffff, #e0e0e0);
  background: -o-linear-gradient(#ffffff, #e0e0e0);
  background: linear-gradient(#ffffff, #e0e0e0);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid lightgrey;
  color: black;
  text-shadow: white 0 1px 0;
  top: 12px;
  left: 560px;
  height: 31px;
  width: 146px;
  position: absolute;
}
/* line 15, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#sectionB #alertSettings1:hover {
  text-decoration: none;
}
/* line 36, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#sectionB #alertSettings1:hover {
  background-color: lightgrey;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #d3d3d3));
  background: -webkit-linear-gradient(#f2f2f2, #d3d3d3);
  background: -moz-linear-gradient(#f2f2f2, #d3d3d3);
  background: -o-linear-gradient(#f2f2f2, #d3d3d3);
  background: linear-gradient(#f2f2f2, #d3d3d3);
}
/* line 39, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#sectionB #alertSettings1:active {
  -webkit-box-shadow: #cccccc 0 1px 2px inset;
  -moz-box-shadow: #cccccc 0 1px 2px inset;
  box-shadow: #cccccc 0 1px 2px inset;
}
/* line 6, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#sectionB #alertSettings1.disabled, #sectionB #alertSettings1[disabled] {
  opacity: 0.6;
  background: #e0e0e0;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
#sectionB #alertSettings1::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 302, style.sass */
#sectionB #alertSettings2 {
  font-size: 11px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFCCCCCC');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(#ffffff, #e0e0e0);
  background: -moz-linear-gradient(#ffffff, #e0e0e0);
  background: -o-linear-gradient(#ffffff, #e0e0e0);
  background: linear-gradient(#ffffff, #e0e0e0);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid lightgrey;
  color: black;
  text-shadow: white 0 1px 0;
  top: 12px;
  left: 760px;
  height: 31px;
  width: 146px;
  position: absolute;
}
/* line 15, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#sectionB #alertSettings2:hover {
  text-decoration: none;
}
/* line 36, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#sectionB #alertSettings2:hover {
  background-color: lightgrey;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #d3d3d3));
  background: -webkit-linear-gradient(#f2f2f2, #d3d3d3);
  background: -moz-linear-gradient(#f2f2f2, #d3d3d3);
  background: -o-linear-gradient(#f2f2f2, #d3d3d3);
  background: linear-gradient(#f2f2f2, #d3d3d3);
}
/* line 39, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#sectionB #alertSettings2:active {
  -webkit-box-shadow: #cccccc 0 1px 2px inset;
  -moz-box-shadow: #cccccc 0 1px 2px inset;
  box-shadow: #cccccc 0 1px 2px inset;
}
/* line 6, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#sectionB #alertSettings2.disabled, #sectionB #alertSettings2[disabled] {
  opacity: 0.6;
  background: #e0e0e0;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
#sectionB #alertSettings2::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 309, style.sass */
#sectionB #onOff {
  top: 16px;
  left: 920px;
  width: 67px;
  height: 31px;
  position: absolute;
  background: url(./images/toggle_on.png) no-repeat;
}
/* line 316, style.sass */
#sectionB .close {
  position: absolute;
  height: 10px;
  width: 10px;
  background: url(./images/closewht.svg) no-repeat;
  background-size: contain;
  top: 10px;
  right: 12px;
}
/* line 324, style.sass */
#sectionB .open {
  position: absolute;
  height: 10px;
  width: 10px;
  background: url(./images/openwht.svg) no-repeat;
  background-size: contain;
  top: 10px;
  right: 12px;
}

/* line 333, style.sass */
#sectionC {
  position: relative;
  border-bottom: 1px solid #a4a4a4;
}
/* line 336, style.sass */
#sectionC header {
  margin: 20px auto 17px 28px;
  float: left;
  width: 100%;
}
/* line 339, style.sass */
#sectionC .col0 {
  margin: 0 19px 16px 30px;
  width: 98px;
  float: left;
}
/* line 343, style.sass */
#sectionC .col0 nav {
  border-right: 1px #a4a4a4 solid;
}
/* line 345, style.sass */
#sectionC .col0 div.button {
  margin-top: 5px;
  width: 73px;
  height: 27px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 11px;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFCCCCCC');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(#ffffff, #e0e0e0);
  background: -moz-linear-gradient(#ffffff, #e0e0e0);
  background: -o-linear-gradient(#ffffff, #e0e0e0);
  background: linear-gradient(#ffffff, #e0e0e0);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid lightgrey;
  color: black;
  text-shadow: white 0 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px;
  border: 1px solid #999999;
  line-height: 2.3em;
  text-align: center;
}
/* line 15, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#sectionC .col0 div.button:hover {
  text-decoration: none;
}
/* line 36, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#sectionC .col0 div.button:hover {
  background-color: lightgrey;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #d3d3d3));
  background: -webkit-linear-gradient(#f2f2f2, #d3d3d3);
  background: -moz-linear-gradient(#f2f2f2, #d3d3d3);
  background: -o-linear-gradient(#f2f2f2, #d3d3d3);
  background: linear-gradient(#f2f2f2, #d3d3d3);
}
/* line 39, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#sectionC .col0 div.button:active {
  -webkit-box-shadow: #cccccc 0 1px 2px inset;
  -moz-box-shadow: #cccccc 0 1px 2px inset;
  box-shadow: #cccccc 0 1px 2px inset;
}
/* line 6, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#sectionC .col0 div.button.disabled, #sectionC .col0 div.button[disabled] {
  opacity: 0.6;
  background: #e0e0e0;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../.rvm/gems/ruby-1.9.3-p194/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
#sectionC .col0 div.button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 356, style.sass */
#sectionC .col0 div.button:first-child {
  margin-top: 0;
}
/* line 359, style.sass */
#sectionC .col1, #sectionC .col2, #sectionC .col3, #sectionC .col4 {
  width: 169px;
  float: left;
  padding-bottom: 37px;
  text-align: center;
  font: normal 12px helvetica, Arial, sans-serif;
  height: 148px;
}
/* line 366, style.sass */
#sectionC .col1 .number, #sectionC .col2 .number, #sectionC .col3 .number, #sectionC .col4 .number {
  font: bold 22px helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #a4a4a4;
}
/* line 372, style.sass */
#sectionC .col1 .pct, #sectionC .col2 .pct, #sectionC .col3 .pct, #sectionC .col4 .pct {
  font: normal 12px/18px helvetica, Arial, sans-serif;
  vertical-align: top;
}
/* line 375, style.sass */
#sectionC #upperRight {
  width: 320px;
  height: 31px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 381, style.sass */
#sectionC #upperRight button {
  float: left;
  margin: 0;
}
/* line 384, style.sass */
#sectionC #upperRight button:nth-child(1) {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  line-height: normal;
  font-size: 11px;
  color: black;
  -webkit-appearance: none;
  border: 1px solid #dddddd;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 1px 1px white;
  -moz-box-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  color: #111111;
  border-color: #999999;
  background: #dbdbdb;
  background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
  background: -webkit-linear-gradient(top, white, #e0e0e0);
  background: -moz-linear-gradient(top, white, #e0e0e0);
  background: -ms-linear-gradient(top, white, #e0e0e0);
  background: -o-linear-gradient(top, white, #e0e0e0);
  background: linear-gradient(top, #ffffff, #e0e0e0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  height: 31px;
  width: 36px;
  text-align: center;
  line-height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 386, style.sass */
#sectionC #upperRight button:nth-child(2) {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  line-height: normal;
  font-size: 11px;
  color: black;
  -webkit-appearance: none;
  border: 1px solid #dddddd;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 1px 1px white;
  -moz-box-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  color: #111111;
  border-color: #999999;
  background: #dbdbdb;
  background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
  background: -webkit-linear-gradient(top, white, #e0e0e0);
  background: -moz-linear-gradient(top, white, #e0e0e0);
  background: -ms-linear-gradient(top, white, #e0e0e0);
  background: -o-linear-gradient(top, white, #e0e0e0);
  background: linear-gradient(top, #ffffff, #e0e0e0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  height: 31px;
  width: 43px;
  text-align: center;
  line-height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 388, style.sass */
#sectionC #upperRight button:nth-child(3) {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  line-height: normal;
  font-size: 11px;
  color: black;
  -webkit-appearance: none;
  border: 1px solid #dddddd;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 1px 1px white;
  -moz-box-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  color: #111111;
  border-color: #999999;
  background: #dbdbdb;
  background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
  background: -webkit-linear-gradient(top, white, #e0e0e0);
  background: -moz-linear-gradient(top, white, #e0e0e0);
  background: -ms-linear-gradient(top, white, #e0e0e0);
  background: -o-linear-gradient(top, white, #e0e0e0);
  background: linear-gradient(top, #ffffff, #e0e0e0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  height: 31px;
  width: 38px;
  text-align: center;
  line-height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 390, style.sass */
#sectionC #upperRight button:nth-child(4) {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  line-height: normal;
  font-size: 11px;
  color: black;
  -webkit-appearance: none;
  border: 1px solid #dddddd;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 1px 1px white;
  -moz-box-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  color: #111111;
  border-color: #999999;
  background: #dbdbdb;
  background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
  background: -webkit-linear-gradient(top, white, #e0e0e0);
  background: -moz-linear-gradient(top, white, #e0e0e0);
  background: -ms-linear-gradient(top, white, #e0e0e0);
  background: -o-linear-gradient(top, white, #e0e0e0);
  background: linear-gradient(top, #ffffff, #e0e0e0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  height: 31px;
  width: 34px;
  text-align: center;
  line-height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 392, style.sass */
#sectionC #upperRight button:nth-child(5) {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  line-height: normal;
  font-size: 11px;
  color: black;
  -webkit-appearance: none;
  border: 1px solid #dddddd;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 1px 1px white;
  -moz-box-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  color: #111111;
  border-color: #999999;
  background: #dbdbdb;
  background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
  background: -webkit-linear-gradient(top, white, #e0e0e0);
  background: -moz-linear-gradient(top, white, #e0e0e0);
  background: -ms-linear-gradient(top, white, #e0e0e0);
  background: -o-linear-gradient(top, white, #e0e0e0);
  background: linear-gradient(top, #ffffff, #e0e0e0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  height: 31px;
  width: 47px;
  text-align: center;
  line-height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 394, style.sass */
#sectionC #upperRight button:nth-child(6) {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  line-height: normal;
  font-size: 11px;
  color: black;
  -webkit-appearance: none;
  border: 1px solid #dddddd;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 1px 1px white;
  -moz-box-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  color: #111111;
  border-color: #999999;
  background: #dbdbdb;
  background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
  background: -webkit-linear-gradient(top, white, #e0e0e0);
  background: -moz-linear-gradient(top, white, #e0e0e0);
  background: -ms-linear-gradient(top, white, #e0e0e0);
  background: -o-linear-gradient(top, white, #e0e0e0);
  background: linear-gradient(top, #ffffff, #e0e0e0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  height: 31px;
  width: 42px;
  text-align: center;
  line-height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 396, style.sass */
#sectionC #upperRight button:nth-child(7) {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  line-height: normal;
  font-size: 11px;
  color: black;
  -webkit-appearance: none;
  border: 1px solid #dddddd;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 1px 1px white;
  -moz-box-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  color: #111111;
  border-color: #999999;
  background: #dbdbdb;
  background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
  background: -webkit-linear-gradient(top, white, #e0e0e0);
  background: -moz-linear-gradient(top, white, #e0e0e0);
  background: -ms-linear-gradient(top, white, #e0e0e0);
  background: -o-linear-gradient(top, white, #e0e0e0);
  background: linear-gradient(top, #ffffff, #e0e0e0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  height: 31px;
  width: 44px;
  text-align: center;
  line-height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 398, style.sass */
#sectionC #upperRight .close {
  float: left;
  margin: 10px auto auto 15px;
  display: block;
  height: 10px;
  width: 10px;
  background: url(./images/closeblk.svg) no-repeat;
  background-size: contain;
}

/* line 407, style.sass */
#sectionD {
  position: relative;
  border-bottom: 1px solid #a4a4a4;
}
/* line 413, style.sass */
#sectionD header {
  margin: 20px auto 17px 28px;
  float: left;
}
/* line 416, style.sass */
#sectionD div.pause {
  position: absolute;
  top: 20px;
  left: 140px;
  width: 100px;
}
/* line 421, style.sass */
#sectionD div.pause a {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  line-height: normal;
  font-size: 11px;
  color: black;
  -webkit-appearance: none;
  border: 1px solid #dddddd;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 1px 1px white;
  -moz-box-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  color: #111111;
  border-color: #999999;
  background: #dbdbdb;
  background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
  background: -webkit-linear-gradient(top, white, #e0e0e0);
  background: -moz-linear-gradient(top, white, #e0e0e0);
  background: -ms-linear-gradient(top, white, #e0e0e0);
  background: -o-linear-gradient(top, white, #e0e0e0);
  background: linear-gradient(top, #ffffff, #e0e0e0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  height: 15px;
  width: 15px;
  text-align: center;
  line-height: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 5px 8px 0 17px;
  float: left;
}
/* line 425, style.sass */
#sectionD div.pause div.minipause {
  background: url("./images/pause.svg") no-repeat center center;
  background-size: 90% 75%;
  height: 100%;
  width: 100%;
}
/* line 430, style.sass */
#sectionD div.pause div.miniplay {
  background: url("./images/play.svg") no-repeat center center;
  background-size: 90% 75%;
  height: 100%;
  width: 100%;
}
/* line 435, style.sass */
#sectionD div.pause div.pauselabel {
  font-size: 11px;
  line-height: 24px;
}
/* line 438, style.sass */
#sectionD #callsWaitingTable {
  border-spacing: 0;
  float: left;
  width: 910px;
  margin: 20px auto 65px 19px;
  clear: left;
}
/* line 447, style.sass */
#sectionD #callsWaitingTable thead tr, #sectionD #callsWaitingTable tbody tr {
  width: 910px;
  display: block;
}
/* line 450, style.sass */
#sectionD #callsWaitingTable td.col1, #sectionD #callsWaitingTable td.col2, #sectionD #callsWaitingTable td.col3, #sectionD #callsWaitingTable td.col4, #sectionD #callsWaitingTable td.col5 {
  width: 182px;
  margin: 0;
  display: inline-block;
}
/* line 465, style.sass */
#sectionD #callsWaitingTable th {
  width: 182px;
  display: block;
  float: left;
}
/* line 469, style.sass */
#sectionD #callsWaitingTable td.col1, #sectionD #callsWaitingTable td.col2, #sectionD #callsWaitingTable td.col3, #sectionD #callsWaitingTable td.col4, #sectionD #callsWaitingTable td.col5 {
  height: 43px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #a4a4a4;
}
/* line 473, style.sass */
#sectionD #callsWaitingTable tbody.rows {
  display: block;
  width: 910px;
  max-height: 215px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px solid #a4a4a4;
}
/* line 480, style.sass */
#sectionD nav {
  font-size: 11px;
  width: 86px;
  float: right;
  margin-top: 24px;
  margin-bottom: 35px;
  right: 0;
}
/* line 487, style.sass */
#sectionD nav .options {
  border-top: 1px solid #a4a4a4;
}

/* line 490, style.sass */
#sectionE {
  position: relative;
  padding-bottom: 65px;
}
/* line 495, style.sass */
#sectionE header {
  margin: 20px auto 17px 28px;
  float: left;
}
/* line 498, style.sass */
#sectionE #activeResourcesTable {
  border-spacing: 0;
  float: left;
  width: 966px;
  margin: auto auto auto 19px;
}
/* line 505, style.sass */
#sectionE #activeResourcesTable thead tr {
  width: 911px;
  display: block;
}
/* line 508, style.sass */
#sectionE #activeResourcesTable tbody tr {
  display: block;
  position: relative;
}
/* line 512, style.sass */
#sectionE #activeResourcesTable .col15 {
  position: absolute;
  padding-left: 5px;
  height: 100%;
  background: white;
  display: inline-block;
}
/* line 518, style.sass */
#sectionE #activeResourcesTable th {
  display: block;
  float: left;
  letter-spacing: -1px;
}
/* line 522, style.sass */
#sectionE #activeResourcesTable .col1, #sectionE #activeResourcesTable .col2, #sectionE #activeResourcesTable .col3, #sectionE #activeResourcesTable .col4, #sectionE #activeResourcesTable .col5, #sectionE #activeResourcesTable .col6, #sectionE #activeResourcesTable .col7, #sectionE #activeResourcesTable .col8, #sectionE #activeResourcesTable .col9 {
  width: 101.11111px;
  margin: 0;
}
/* line 525, style.sass */
#sectionE #activeResourcesTable td.col1, #sectionE #activeResourcesTable td.col2, #sectionE #activeResourcesTable td.col3, #sectionE #activeResourcesTable td.col4, #sectionE #activeResourcesTable td.col5, #sectionE #activeResourcesTable td.col6, #sectionE #activeResourcesTable td.col7, #sectionE #activeResourcesTable td.col8, #sectionE #activeResourcesTable td.col9, #sectionE #activeResourcesTable td.col10, #sectionE #activeResourcesTable td.col11, #sectionE #activeResourcesTable td.col12, #sectionE #activeResourcesTable td.col13, #sectionE #activeResourcesTable td.col14 {
  height: 43px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 5px;
  border: 1px solid #a4a4a4;
  margin: 0;
  display: inline-block;
}
/* line 539, style.sass */
#sectionE #activeResourcesTable td.col1 {
  position: relative;
  display: block;
  float: left;
}
/* line 543, style.sass */
#sectionE #activeResourcesTable td.col1:hover span {
  display: block;
}
/* line 545, style.sass */
#sectionE #activeResourcesTable td.col1 span {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  text-align: center;
}
/* line 554, style.sass */
#sectionE #activeResourcesTable tr.even td.col1 span {
  background: #dadde0;
}
/* line 556, style.sass */
#sectionE #activeResourcesTable .reportlink {
  display: block;
  width: 11px;
  height: 15px;
  margin: 10px 6px 0 35px;
  float: left;
  background: url("./images/active_sprite.png") 0px 0px no-repeat;
  position: relative;
  cursor: pointer;
}
/* line 566, style.sass */
#sectionE #activeResourcesTable .reportlink:hover {
  background-position: 0px -42px;
}
/* line 568, style.sass */
#sectionE #activeResourcesTable .grouplink {
  display: block;
  width: 16px;
  height: 15px;
  margin: 10px 6px;
  float: left;
  background: url("./images/active_sprite.png") -20px 0px no-repeat;
  position: relative;
  cursor: pointer;
}
/* line 578, style.sass */
#sectionE #activeResourcesTable .grouplink:hover {
  background-position: -20px -42px;
}
/* line 580, style.sass */
#sectionE #activeResourcesTable .permissionlink {
  display: block;
  width: 14px;
  height: 15px;
  margin: 10px 6px;
  float: left;
  background: url("./images/active_sprite.png") -46px 0px no-repeat;
  position: relative;
  cursor: pointer;
}
/* line 590, style.sass */
#sectionE #activeResourcesTable .permissionlink:hover {
  background-position: -46px -42px;
}
/* line 592, style.sass */
#sectionE #activeResourcesTable .listen, #sectionE #activeResourcesTable .speak, #sectionE #activeResourcesTable .shout {
  display: block;
  float: left;
  height: 19px;
  margin-top: 9px;
}
/* line 597, style.sass */
#sectionE #activeResourcesTable .listen {
  width: 17px;
  background: url(./images/micro.png) 0px center no-repeat;
}
/* line 600, style.sass */
#sectionE #activeResourcesTable .speak {
  width: 17px;
  background: url(./images/micro.png) -17px center no-repeat;
}
/* line 603, style.sass */
#sectionE #activeResourcesTable .shout {
  width: 16px;
  background: url(./images/micro.png) -36px center no-repeat;
}
/* line 606, style.sass */
#sectionE nav {
  font-size: 11px;
  width: 86px;
  float: right;
  margin-top: 24px;
  margin-bottom: 24px;
  right: 0;
}
/* line 613, style.sass */
#sectionE nav .options {
  border-top: 1px solid #a4a4a4;
}

/* line 617, style.sass */
.thing input[type="checkbox"] {
  background: url(./images/radio-uncheck.png);
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}
/* line 622, style.sass */
.thing:checked {
  background: url(./images/radio-check.png);
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* line 634, style.sass */
#sectionF {
  position: absolute;
  top: 0;
  left: 0;
  right: 1075px;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 65px;
  border-right: 2px solid grey;
}
/* line 645, style.sass */
#sectionF #logo {
  height: 57px;
  background: url(./images/logo.png);
  border-top: 1px solid #cccccc;
  border-right: 1px solid #a4a4a4;
  border-bottom: 1px solid #a4a4a4;
  border-left: 1px solid #cccccc;
}
/* line 652, style.sass */
#sectionF .sides {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  line-height: normal;
  font-size: 11px;
  color: black;
  -webkit-appearance: none;
  border: 1px solid #dddddd;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 1px 1px white;
  -moz-box-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  color: #111111;
  border-color: #999999;
  background: #dbdbdb;
  background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
  background: -webkit-linear-gradient(top, white, #e0e0e0);
  background: -moz-linear-gradient(top, white, #e0e0e0);
  background: -ms-linear-gradient(top, white, #e0e0e0);
  background: -o-linear-gradient(top, white, #e0e0e0);
  background: linear-gradient(top, #ffffff, #e0e0e0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  height: auto;
  width: 100%;
  text-align: center;
  line-height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  position: relative;
  font: 500 12px helvetica, Arial, sans-serif;
  color: #8f8f8f;
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 6px;
}
/* line 661, style.sass */
#sectionF .sides header {
  margin: 22px 0 6px 0;
}
/* line 663, style.sass */
#sectionF .sides h2, #sectionF .sides h3, #sectionF .sides h4 {
  margin: 0;
}
/* line 665, style.sass */
#sectionF .sides h2:last-child, #sectionF .sides h3:last-child, #sectionF .sides h4:last-child {
  margin: 0 0 21px 0;
}
/* line 667, style.sass */
#sectionF .sides h2 {
  color: #5ebf1e;
  font-size: 25px;
  line-height: 60px;
  text-indent: -0.5em;
  position: relative;
}
/* line 673, style.sass */
#sectionF .sides h2 .pct {
  font: 700 12px/20px helvetica, Arial, sans-serif;
  line-height: 50px;
  vertical-align: top;
}
/* line 677, style.sass */
#sectionF .sides h3 {
  margin-top: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 113px;
}
/* line 682, style.sass */
#sectionF .sides h4 {
  font: normal 12px helvetica, Arial, sans-serif;
}
/* line 684, style.sass */
#sectionF .sides h4#dropped {
  color: #c32232;
}
/* line 686, style.sass */
#sectionF .sides h4#answered {
  color: #5ebf1e;
}
/* line 688, style.sass */
#sectionF .sides #arrows {
  position: absolute;
  top: 0;
  right: -4px;
  height: 60px;
  width: 24px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  text-indent: 0;
}
/* line 699, style.sass */
#sectionF .sides .neutral {
  background: url("./images/dropped.png") 5px 0px no-repeat;
  color: #8f8f8f;
}
/* line 702, style.sass */
#sectionF .sides .goingUp {
  background: url("./images/dropped.png") -20px 0px no-repeat;
  color: #c32232;
}
/* line 705, style.sass */
#sectionF .sides .goingDown {
  background: url("./images/dropped.png") -43px 0px no-repeat;
  color: #5ebf1e;
}
/* line 708, style.sass */
#sectionF .sides #tabslink {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

/* line 721, style.sass */
.sort {
  display: block;
  height: 14px;
  width: 9px;
  position: absolute;
  top: 10px;
  left: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 732, style.sass */
a.close {
  display: block;
  height: 9px;
  width: 9px;
  position: absolute;
  top: 4px;
  right: 5px;
  background: url(./images/closeblk.svg) no-repeat;
  background-size: contain;
}

/* line 742, style.sass */
a.open {
  display: block;
  height: 9px;
  width: 9px;
  position: absolute;
  top: 4px;
  right: 5px;
  background: url(./images/openblk.svg) no-repeat;
  background-size: contain;
}

/* line 753, style.sass */
section > a.close, section > a.open {
  top: 13px;
  right: 13px;
}

/* line 757, style.sass */
.closable {
  width: 100%;
}

/* line 765, style.sass */
table.tablesorter {
  font-size: 11px;
  line-height: 12px;
}
/* line 769, style.sass */
table.tablesorter thead tr th {
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
  line-height: normal;
  font-size: 11px;
  color: black;
  -webkit-appearance: none;
  border: 1px solid #dddddd;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 1px 1px white;
  -moz-box-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  color: #111111;
  border-color: #999999;
  background: #dbdbdb;
  background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
  background: -webkit-linear-gradient(top, white, #e0e0e0);
  background: -moz-linear-gradient(top, white, #e0e0e0);
  background: -ms-linear-gradient(top, white, #e0e0e0);
  background: -o-linear-gradient(top, white, #e0e0e0);
  background: linear-gradient(top, #ffffff, #e0e0e0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  height: 28px;
  width: auto;
  text-align: center;
  line-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 771, style.sass */
table.tablesorter thead tr .header a.sort {
  background-image: url("./images/arrows.svg");
}
/* line 773, style.sass */
table.tablesorter thead tr .headerSortUp a.sort {
  background-image: url("./images/asc.svg");
}
/* line 775, style.sass */
table.tablesorter thead tr .headerSortDown a.sort {
  background-image: url("./images/desc.svg");
}
/* line 777, style.sass */
table.tablesorter .even {
  background-color: #dadde0;
}
/* line 779, style.sass */
table.tablesorter .firstButton {
  border-top-left-radius: 3px;
  moz-border-radius-topleft: 3px;
}
/* line 782, style.sass */
table.tablesorter .lastButton {
  border-top-right-radius: 3px;
  moz-border-radius-topright: 3px;
}

/* line 797, style.sass */
form .leftform {
  width: 50%;
  height: 100%;
  float: left;
}
/* line 801, style.sass */
form .rightform {
  width: 50%;
  height: 100%;
  float: right;
}
/* line 806, style.sass */
form .rightform label, form .rightform select, form .rightform h2, form .rightform input {
  margin-left: 83px;
}
/* line 808, style.sass */
form input[type="submit"] {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  line-height: normal;
  font-size: 11px;
  color: black;
  -webkit-appearance: none;
  border: 1px solid #dddddd;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 1px 1px white;
  -moz-box-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  color: #111111;
  border-color: #999999;
  background: #dbdbdb;
  background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
  background: -webkit-linear-gradient(top, white, #e0e0e0);
  background: -moz-linear-gradient(top, white, #e0e0e0);
  background: -ms-linear-gradient(top, white, #e0e0e0);
  background: -o-linear-gradient(top, white, #e0e0e0);
  background: linear-gradient(top, #ffffff, #e0e0e0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  height: 36px;
  width: 75px;
  text-align: center;
  line-height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 0.9em;
  font-weight: bold;
  line-height: normal;
}
/* line 816, style.sass */
form .dropdown {
  text-indent: 1em;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  line-height: normal;
  font-size: 11px;
  color: black;
  -webkit-appearance: none;
  border: 1px solid #dddddd;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 1px 1px white;
  -moz-box-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  color: #111111;
  border-color: #999999;
  background: #dbdbdb;
  background: -webkit-gradient(linear, center top, center bottom, from(white), to(#e0e0e0));
  background: -webkit-linear-gradient(top, white, #e0e0e0);
  background: -moz-linear-gradient(top, white, #e0e0e0);
  background: -ms-linear-gradient(top, white, #e0e0e0);
  background: -o-linear-gradient(top, white, #e0e0e0);
  background: linear-gradient(top, #ffffff, #e0e0e0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 0 3px white;
  height: 30px;
  width: 154px;
  text-align: center;
  line-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 820, style.sass */
form label {
  font-size: 11px;
  color: #8f8f8f;
  margin: 23px 0 10px 0;
  display: block;
}
/* line 825, style.sass */
form h2 {
  margin-top: 20px;
}

/* line 828, style.sass */
#activeResourcesForm {
  display: none;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
  padding: 0 25px;
  z-index: 60;
  background: #f4f4f4;
  display: block;
  bottom: 20px;
  left: 100px;
  height: 340px;
  width: 700px;
}
/* line 836, style.sass */
#activeResourcesForm #agentHeader span {
  color: #8f8f8f;
}
/* line 839, style.sass */
#activeResourcesForm #campaignHeader span {
  color: #8f8f8f;
}
/* line 841, style.sass */
#activeResourcesForm #in-groups label {
  max-height: 87px;
}
/* line 843, style.sass */
#activeResourcesForm #in-groups label option {
  line-height: 1.2em;
  text-indent: 0.2em;
}
/* line 846, style.sass */
#activeResourcesForm #in-groups {
  height: 185px;
  width: 340px;
  overflow: auto;
}

/* line 851, style.sass */
#settingsPopup {
  display: none;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
  padding: 0 25px;
  z-index: 60;
  background: #f4f4f4;
  width: 720px;
  height: 375px;
  top: 70px;
  left: 20px;
}
/* line 857, style.sass */
#settingsPopup #select-campaigns {
  width: 340px;
  height: 132px;
  overflow: auto;
}
/* line 861, style.sass */
#settingsPopup #select-usergroups {
  width: 340px;
  height: 132px;
  overflow: auto;
}

/* line 866, style.sass */
#popupWrapper {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 873, style.sass */
#popupWrapper #alert {
  visibility: hidden;
  position: relative;
  top: 50%;
  margin: -50px auto 0;
  width: 300px;
  height: 100px;
  background: #f4f4f4;
  font-size: 13px;
  padding: 10px;
  z-index: 2000;
}
/* line 886, style.sass */
#popupWrapper #alert input[type="submit"] {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* line 890, style.sass */
#popupWrapper #webphonePopup {
  visibility: hidden;
  padding: 5px;
  position: relative;
  top: 50%;
  margin: -220px auto 0;
  width: 305px;
  height: 440px;
  background: #f4f4f4;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
  z-index: 2000;
}
